	<!-- SlidesJS Required: Link to jQuery -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<!-- End SlidesJS Required -->

	<!-- SlidesJS Required: Link to jquery.slides.js -->
	<script src="scripts/jquery.slides.min.js"></script>
	<!-- End SlidesJS Required -->


	

<div id="slides" >
		<div  ng-repeat="slide in slides">
			<img ng-src="{{slide}}" alt="Photo by:">
		</div>

		<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
		<a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
</div>

	<script>
		$(function() {
			$('#slides').slidesjs({
				width: 940,
				height: 528,
				navigation: false
			});
		});
	</script>
